/* The main container element*/
.Collapsible {
  background-color: $base;
  margin-left: 2%;
  margin-bottom: 2%;
  width: 95%
}


/* The content within the collapsable area*/
.Collapsible__contentInner {
  padding: 10px;
  background: white;
  font-size: 13px;

  p {
    margin-bottom: 10px;
    line-height: 20px;
  }

}
  .Collapsible__trigger {
    display: block;
    position: relative;
    padding: 10px;
    color: black;
}

span.CustomTriggerCSS,
span.CustomTriggerCSS--open {
  background-color: #d7dce0;
  cursor: pointer;
  font-family: inherit;
  display: block;
  text-align: left;
  font-size: 14px;
}

span.CustomTriggerCSS::before,
span.CustomTriggerCSS--open::before {
  font-family: 'FontAwesome';
  margin-right: 5px;
  font-size: 16px;

}

span.CustomTriggerCSS::before {
  margin-right: 10px;
}

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #CBB700;
  color: black;
}
