/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 24, 2017, 11:45:50 PM
    Author     : Tootoot222
*/

#upvoteButton {
    -fx-background-image: url("icons/upvote.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#downvoteButton {
    -fx-background-image: url("icons/downvote.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#rootPane {
    -fx-border-color: -fx-box-border;
}